body {
    background-color: grey;
}
#password, #username {
    width: 13rem;
}
.negative {
    color: red;
}
.positive {
    color: green;
}
#errorDiv {
    width: 25rem;
    float: left;
    margin-top: 3.8rem;
    margin-left: 1rem;
}
form {
    float: left;
}